<section class="classroom container">
  <div class="classroom__intro">
    <h2 class="text-center blue">ĐẾN VỚI JORDAN EDUCATION</h2>
  </div>

  <div class="features row">
    <div class="features__column col-md-6">
      <div class="features__column--content">
        <div class="icon">
          <img alt="High quality content"
            src="https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/icon-bulb-1deb8560ed56a33a25b0687df486592ff84420769d1c89d69e489729b5e3cf20.svg"
          >
        </div>

        <h3 class="blue mb-half">Bắt kịp xu thế<br> với những kỹ năng cần thiết</h3>

        <p class="small mb-0">
          Chương trình của Jordan Education dựa trên nền tảng của Amazon, Facebook, Google. Giúp người tham gia có thể nắm chắc được những cơ hội mà bạn chưa thể nghỉ đến.
        </p>
      </div>
    </div>
    <div class="features__column bottom-reveal col-md-6">
      <div class="features__column--content features--module1">
        <img alt="Master the most Competitive Skills" class="shadow-right" srcset="https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/thumb-competitive-skills-bg@1x-7b5e30a3be88d36682a9fe7d8f9ca7a0480d7aae74151368928fd3304e1fa3d3.jpg 1x, https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/thumb-competitive-skills-bg@2x-2bde560841d32dd70c5ee5b770bbe2aa0ff7ccdc29d205995cd780b1276b9ce4.jpg 2x" src="https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/thumb-competitive-skills-bg@1x-7b5e30a3be88d36682a9fe7d8f9ca7a0480d7aae74151368928fd3304e1fa3d3.jpg">
      </div>
    </div>
  </div>

  <div class="features row">
    <div class="features__column col-md-6 ltr">
      <div class="features__column--content">
        <div class="icon" data-sr-id="3">
          <img src="https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/icon-badge-11824dcfbc96dea64dc90a1c9030ca485f2c7575bd58f869f2301f93e46dc083.svg">
        </div>
        <h3 class="magenta mb-half">Kinh nghiệm<br> thực tiễn, đã thành công</h3>
        <p class="small mb-0">Kinh nghiệm từ những người đi trước, đã thành công với nhiều mô hình kinh doanh sáng tạo sẽ giúp bạn tìm ra con đường kinh doanh chính xác nhất.</p>
      </div>
    </div>

    <div class="features__column bottom-reveal col-md-6">
      <div class="features__column--content features--module2">
        <img class="shadow-right" srcset="https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/thumb-get-hired-bg@1x-843e622d955a63981d54de7a827bf0cc753f8473f86a9c5f276ec4a4b9f820ff.jpg 1x, https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/thumb-get-hired-bg@2x-8b7751fceff9b89d950eb33aab7ee6c6f29506616cf84016c16d659438d3459d.jpg 2x" src="https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/thumb-get-hired-bg@1x-843e622d955a63981d54de7a827bf0cc753f8473f86a9c5f276ec4a4b9f820ff.jpg">
      </div>
    </div>
  </div>

  <div class="features row">
    <div class="features__column col-md-6">
      <div class="features__column--content">
        <div class="icon">
          <img alt="Maximize your impact" src="https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/icon-keys-50711c2d663ee6a92abdc0263f0de5c55945a74299e961b4f182dff7729e2514.svg">
        </div>

        <h3 class="purple mb-half">Không giới hạn</h3>

        <p class="small mb-0">
          Tạo ra một tương lai vượt tầm tưởng tượng bằng con đường bạn yêu thích, từ kinh doanh, nghiên cứu thị trường, giao lưu, học hỏi. Tuyệt vời!!
        </p>
      </div>
    </div>
    <div class="features__column bottom-reveal col-md-6">
      <div class="features__column--content features--module3">
        <img alt="Maximize your impact" class="shadow-right" srcset="https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/thumb-impact-bg@1x-16dad6677910c38b64bcf95ed368769856d7168bf47e28e1ca5e2822be8d108f.jpg 1x, https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/thumb-impact-bg@2x-9a332829cab287072bbe5df2d4cf9a29a5b9ec88ed6d22f654c3e7c46b6255ba.jpg 2x" src="https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/thumb-impact-bg@1x-16dad6677910c38b64bcf95ed368769856d7168bf47e28e1ca5e2822be8d108f.jpg">
      </div>
    </div>
  </div>
</section>
