<section class="testimonials container">
  <div class="row">
    <h6 class="text-center">Cộng đồng đầy tiềm năng</h6>
  </div>

  <div class="arrow-slider-block row">
    <div class="arrow_slider clear">
      <div class="flex-viewport">
        <ul class="slides">
          <li class="clone" aria-hidden="true">
            <blockquote>
              <cite>
                <h3 class="text-center italic mb-half">"I hope the Udacity experience can be as transformative and revealing for others as it has been for me."</h3>
                <div class="dash-blue inline"></div>
                <h6 class="mb-1 slate inline">James, Graduate</h6>
              </cite>
            </blockquote>
          </li>
          <li class="flex-active-slide">
            <blockquote>
              <cite>
                <h3 class="text-center italic mb-half">"It was so worth it to get a Nanodegree. Seeing that first paycheck, I couldn’t believe it. I never thought I’d be here. It’s like a dream."</h3>
                <div class="dash-blue inline"></div>
                <h6 class="mb-1 slate inline">Jennifer, Graduate</h6>
              </cite>
            </blockquote>
          </li>
          <li class="">
            <blockquote>
              <cite>
                <h3 class="text-center italic mb-half">"Before Udacity, I was a high school math teacher with no CS background. Now I'm an Android Developer at Capital One, doing something I love while earning twice as much."</h3>
                <div class="dash-blue inline"></div>
                <h6 class="mb-1 slate inline">Ben, Graduate</h6>
              </cite>
            </blockquote>
          </li>
          <li class="">
            <blockquote>
              <cite>
                <h3 class="text-center italic mb-half">"Udacity has empowered me to be a better software engineer. They have given me opportunities that I would not have if I had to rely on the traditional education system."</h3>
                <div class="dash-blue inline"></div>
                <h6 class="mb-1 slate inline">Jonathan, Graduate</h6>
              </cite>
            </blockquote>
          </li>
          <li class="">
            <blockquote>
              <cite>
                <h3 class="text-center italic mb-half">"I hope the Udacity experience can be as transformative and revealing for others as it has been for me."</h3>
                <div class="dash-blue inline"></div>
                <h6 class="mb-1 slate inline">James, Graduate</h6>
              </cite>
            </blockquote>
          </li>
          <li class="clone" aria-hidden="true">
            <blockquote>
              <cite>
                <h3 class="text-center italic mb-half">"It was so worth it to get a Nanodegree. Seeing that first paycheck, I couldn’t believe it. I never thought I’d be here. It’s like a dream."</h3>
                <div class="dash-blue inline"></div>
                <h6 class="mb-1 slate inline">Jennifer, Graduate</h6>
              </cite>
            </blockquote>
          </li>
        </ul>
      </div>
      <ol class="flex-control-nav flex-control-paging">
        <li><a class="flex-active">1</a></li>
        <li><a class="">2</a></li>
        <li><a class="">3</a></li>
        <li><a class="">4</a></li>
      </ol>
      <ul class="flex-direction-nav">
        <li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li>
        <li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li>
      </ul>
    </div>
    <div class="text-center">
      <img alt="Students" srcset="https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/student-testimonials@1x-638efe66576ae1a75790bd14d7874340ed30a75387a68f29274fe3c85112f5a3.png 1x, https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/student-testimonials@2x-970e27a23af7056495c8a69dfa1bf3df249b726d7b9ef46ebdac84905a23bcd3.png 2x" src="https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/student-testimonials@1x-638efe66576ae1a75790bd14d7874340ed30a75387a68f29274fe3c85112f5a3.png">
    </div>
  </div>
</section>

<script>
  $(function() {
    $(".arrow_slider").flexslider({
        animation: "slide"
    });
  });
</script>
