<section class="testimonials container">
  <div class="row">
    <h6 class="text-center">Cộng đồng đầy tiềm năng</h6>
  </div>

  <div class="arrow-slider-block row">
    <div class="arrow_slider clear">
      <div class="flex-viewport">
        <ul class="slides">
          <li class="clone" aria-hidden="true">
            <blockquote>
              <cite>
                <h3 class="text-center italic mb-half">"Mình hy vọng Jordan Education sẽ tiếp tục dẫn đường cho nhiều bạn trẻ đến với thành công như đã làm với mình."</h3>
                <div class="dash-blue inline"></div>
                <h6 class="mb-1 slate inline">Hoa, Nguyen</h6>
              </cite>
            </blockquote>
          </li>
          <li class="flex-active-slide">
            <blockquote>
              <cite>
                <h3 class="text-center italic mb-half">"Rất đáng để thử, khi tôi tham gia khoá học, tôi đã không thể tin được sự lôi cuốn của khoá học."</h3>
                <div class="dash-blue inline"></div>
                <h6 class="mb-1 slate inline">Vu, Nguyem</h6>
              </cite>
            </blockquote>
          </li>
          <li class="">
            <blockquote>
              <cite>
                <h3 class="text-center italic mb-half">"Trước khi tham gia Jordan Education, tôi đã trải qua nhiều hình thức kinh doanh, thành công và thất bại đều có nhưng đây là một hình thức hoàn toàn khác biệt."</h3>
                <div class="dash-blue inline"></div>
                <h6 class="mb-1 slate inline">Daniel, Nguyen</h6>
              </cite>
            </blockquote>
          </li>
          <li class="">
            <blockquote>
              <cite>
                <h3 class="text-center italic mb-half">"Mình hy vọng Jordan Education sẽ tiếp tục dẫn đường cho nhiều bạn trẻ đến với thành công như đã làm với mình."</h3>
                <div class="dash-blue inline"></div>
                <h6 class="mb-1 slate inline">Jonathan, Graduate</h6>
              </cite>
            </blockquote>
          </li>
        </ul>
      </div>
      <ol class="flex-control-nav flex-control-paging">
        <li><a class="flex-active">1</a></li>
        <li><a class="">2</a></li>
        <li><a class="">3</a></li>
        <li><a class="">4</a></li>
      </ol>
      <ul class="flex-direction-nav">
        <li class="flex-nav-prev"><a class="flex-prev" href="#">Previous</a></li>
        <li class="flex-nav-next"><a class="flex-next" href="#">Next</a></li>
      </ul>
    </div>
    <div class="text-center">
      <img alt="Students" srcset="https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/student-testimonials@1x-638efe66576ae1a75790bd14d7874340ed30a75387a68f29274fe3c85112f5a3.png 1x, https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/student-testimonials@2x-970e27a23af7056495c8a69dfa1bf3df249b726d7b9ef46ebdac84905a23bcd3.png 2x" src="https://d125fmws0bore1.cloudfront.net/assets/pages/homepage/student-testimonials@1x-638efe66576ae1a75790bd14d7874340ed30a75387a68f29274fe3c85112f5a3.png">
    </div>
  </div>
</section>

<script>
  $(function() {
    $(".arrow_slider").flexslider({
        animation: "slide"
    });
  });
</script>
