<div class="container-fluid">
  <section class="nd-hero video__featured">
    <div class="contain row">
      <div class="video__featured--overlay">
        <div class="video__featured--content">
          <h6 class="white">AMAZON BUSINESS</h6>
          <h1 class="white">Trở thành một Amazon Seller</h1>
          <p class="white legible center">
            Chúng tôi mang đến cho bạn một con đường kinh doanh khác, một con đường mới mẻ, đòi hỏi sự tìm tòi, tư duy và thử thách cao.
          </p>
          <div class="btn_wrapper">
            <a href="#" class="get-started">TÌM HIỂU THÊM</a>
          </div>
          <p class="fineprint small white">Sắp ra mắt trong năm nay</p>
        </div>
      </div>
    </div>
  </section>
</div>
